[Unit]
Description=text2cw_bot control process
After=basic.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/text2cw_bot
ExecStart=/home/pi/text2cw_bot/text2cw_bot.py -s 0 '******* PUT YOUR BOT TOKEN HERE *******'
ExecReload=/bin/kill $MAINPID
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target
