[Unit]
Description=text2cw_bot control process
After=basic.target

[Service]
Type=simple
User=text2cw
Group=text2cw
WorkingDirectory=/home/text2cw/text2cw_bot
ExecStart=/home/text2cw/text2cw_bot/start_text2cw_bot.sh -s 0 '******* PUT YOUR BOT TOKEN HERE *******'
ExecReload=/bin/kill $MAINPID
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target
